html {
	height: 100%;
	cursor: url('../img/cursors/customCursorDark.png') 10 5, auto;
}
html:active {
	cursor: url('../img/cursors/customCursorLight.png') 8.5 3.5, auto;
}

::selection {
	color: #7DEFF7;
	background: #7929E2;
}

	body {
		font-family: 'Source Code Pro', monospace;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
		margin: 0 0 0 0;
	}
	
		#languages {
			display: flex;
			justify-content: space-between;
			position: fixed;
			top: 0;
			right: 1em;
			width: 5em;
			font-size: 2vh;
			text-align: center;
		}

		#main {
			font-size: 2.5vw;
		}

			#descriptionContainer {
				display: flex;
			}

			#description {
				max-width: 25em;
			}

			#goBack {
				position: fixed;
				top: 0.3em;
				left: 1em;
				font-size: 2vh;
				text-align: center;
			}

			.var {
				color: #2c0ef9;
			}
			.value {
				color: #D91338;
			}

			.bClr {
				color: black;
			}

			a img {
				height: 4vw;
				vertical-align: bottom;
				cursor: url('../img/cursors/customCursorDark.png') 10 5, auto;
			}
			a img:active {
				cursor: url('../img/cursors/customCursorLight.png') 8.5 3.5, auto;
			}

			.link:hover {
				font-style: italic;
			}


@media screen and (min-width:961px) {
	#main {
		font-size: 2.5vh;
	}
	a img {
		vertical-align: top;
		height: 3vh;
  	}
}
